.navbar-ul {
  margin-left: auto;
  font-size: large;
}

.github-icon {
  height: 20px;
  width: 20px;
}

.response {
  padding-left: 200px;
  padding-right: 200px;
}

.prompt {
  padding-left: 200px;
  padding-right: 200px;
}
